<?xml version="1.0" encoding="utf-8"?>
<!-- configuration file for the game-->

<config>
  <window>
    <name value="Game XML"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
    <width value="1280"/>
    <height value="720"/>
    <scale value="1"/>
  </window>
  <audio>
    <volume value="1"/>
  </audio>
</config>